HTTP_PORT=8080
HTTP_READ_TIMEOUT=15s
HTTP_WRITE_TIMEOUT=15s
HTTP_IDLE_TIMEOUT=60s

POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=hrmatedb
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

MIGRATION_DIR=./migrations

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=hrmate-docs
MINIO_USE_SSL=false

JWT_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
